:root {
	--lawra-dark: #46464a;
	--cool-grey: #a3a3a8;
}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap');

@font-face {
	font-family: Gilroy;
	src: url(Gilroy-ExtraBold.otf);
}

@font-face {
	font-family: Gilroy-Light;
	src: url(Gilroy-Light.otf);
}

body {
	margin: 0;
}

.logo {
	margin: 2vw;
	font-family: Gilroy;
	color: #cca768;
	font-size: 2.5vw;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20vw;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}

.activeBox {
	background-color: white;
}

#activeLink {
	color: var(--lawra-dark);
}

.material-icons.md-activeIcon {
	color: #cca768;
}

.listBox:hover:not(.firstItem) {
	background-color: white;
	color: var(--lawra-dark);
}

.listBox:hover a {
	color: var(--lawra-dark);
}

.logout .listLink a:hover {
	color: var(--lawra-dark);
}

.firstItem {
	margin-bottom: 1vw;
}

.listBox {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.categories {
	margin-top: 1.5vw;
}

.upload {
	margin-top: 1.5vw;
}

.listIcon {
	margin-left: 2vw;
}

.material-icons.md-24 {
	font-size: 24px;
	cursor: pointer;
}

.material-icons.md-grey {
	color: var(--cool-grey);
}

.material-icons.md-gold {
	color: #cca768;
}

.listBox:hover .material-icons {
	color: #cca768;
	transform: scale(1.3, 1.3);
}

.listLink {
	margin: 0.8vw;
}

.listLink a {
	color: var(--cool-grey);
	font-size: 16px;
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.profile {
	position: absolute;
	bottom: 0;
	margin-bottom: 11vw;
	width: 100%;
}

.username {
	font-size: 13px;
	margin-top: 4px;
}
.profile .listLink a {
	margin-right: 1vw;
}
.logout {
	position: absolute;
	bottom: 0;
	margin-bottom: 2vw;
	width: 100%;
}

.logout a {
	font-size: 14px;
}

.avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.settings {
	padding: 1.5vw;
	margin-left: -10%;
}

.main {
	margin-left: 20vw;
}

.top-box {
	margin-top: 0px;
	padding-top: 4vw;
	margin-left: 8vw;
}

.page-header {
	font-family: 'Hind', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #414145;
}

.search-bar {
	width: 47vw;
	height: 44px;
	background-color: #fafafa;
	border: none;
	padding-left: 3vw;
	color: var(--cool-grey);
	font-family: 'Hind', sans-serif;
	font-weight: 400;
}

.search-suggestion {
	color: var(--lawra-dark);
	font-family: 'Hind', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.search-suggestion span {
	text-transform: uppercase;
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 10px;
	color: var(--cool-grey);
}

.search-suggestion span:hover {
	color: #414145;
}

#special {
	color: #cca768;
}

#special:hover {
	color: #414145;
}

.divider {
	width: 60vw;
	height: 2px;
	background-color: #f8f8f8;
	margin: 2vw 0vw 2vw 3vw;
}

.card-wrapper {
	margin-top: 2vw;
	width: 50vw;
	padding: 10px 4vw 8px 8vw;
}

.card-wrapper:hover {
	background-color: #fafafa;
	margin-left: 0px;
}

.content-header {
	font-size: 14px;
	color: var(--cool-grey);
	text-transform: uppercase;
	font-family: 'Hind', sans-serif;
	margin-left: 8vw;
}

.title-flex {
	display: flex;
	justify-content: space-between;
}

.bookmark {
	align-self: flex-end;
}

.card-title {
	text-decoration: none;
	color: #414145;
	font-size: 20px;
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	white-space: nowrap;
}

.card-title:hover {
	color: #cca768;
}

.card-author {
	color: var(--lawra-dark);
	font-family: 'Hind', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.card-author span a {
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: var(--cool-grey);
}

.card-author span a:hover {
	color: #414145;
}

.card-tags {
	color: var(--cool-grey);
}

.card-tags a:hover {
	color: #414145;
}

#first-tag {
	color: var(--lawra-dark);
}

.card-tags span {
	padding: 10px;
}

.card-tags span:first-child {
	padding-left: 0px;
}

.card-tags span a {
	text-transform: uppercase;
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: var(--cool-grey);
	text-decoration: none;
}

/* begin case page */

.top-container {
	width: 100%;
	height: 12vw;
	background-color: #fafafa;
	display: flex;
}

.logo-container {
	width: 15%;
	height: 12vw;
	display: grid;
}

.logo-container span {
	justify-self: center;
	align-self: center;
}

.logo-container span a {
	font-family: Gilroy;
	font-size: 5.5vw;
	color: #cca768;
	text-decoration: none;
}

.case-title {
	font-family: 'Hind', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #414145;
	padding-top: 27px;
	margin-bottom: 7px;
}

.case-author {
	margin-top: 0px;
}

.container-bottom {
	display: grid;
	grid-template-columns: 15% 60% 25%;
}

.case-text {
	font-size: 16px;
	color: var(--lawra-dark);
	line-height: 28px;
}

.sub-header {
	font-size: 14px;
	color: var(--cool-grey);
	text-transform: uppercase;
	font-family: 'Hind', sans-serif;
	margin-top: 2.5vw;
}

.case-question {
	margin-top: 3.5vw;
	font-weight: 600;
}

/* construction */

.construction-container {
	padding: 5vw;
}

.construction-container h1 {
	text-align: center;
	margin: 2vw;
	font-family: Gilroy;
	color: var(--lawra-dark);
	font-size: 2.5vw;
}
